<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" packages="com.sunvalley.framework.base.logger.filter">
    <Properties>
        <Property name="appName">${sys:spring.application.name}</Property>
        <Property name="logPath">${env:LOGGING_PATH:-logs}/${appName}</Property>
        <Property name="PID">????</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_DATE_FORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
        <Property name="CONSOLE_LOG_PATTERN">[%d %thread ${sys:PID} ${LOG_LEVEL_PATTERN}] %X{xReqId} %c %m (%F:%L)%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <Filters>
                <ConsoleLevelFilter onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}"/>
        </Console>
        <RollingRandomAccessFile name="allFile" fileName="${logPath}/all.log" filePattern="${logPath}/all.log.%d{yyyy-MM-dd}" immediateFlush="false">
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}"/>

            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="errorFile" fileName="${logPath}/error.log" filePattern="${logPath}/error.log.%d{yyyy-MM-dd}" immediateFlush="false">
            <Filters>
                <!--只允许级别为error的日志通过-->
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}"/>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>

        <!-- 默认输出目标-->
        <Rewrite name="rewriteAllFile">
            <AppenderRef ref="allFile"/>
            <AppenderRef ref="errorFile"/>
        </Rewrite>
    </Appenders>

    <Loggers>
        <!-- 第三方的软件日志级别 start -->
        <!-- 减少部分debug日志 -->
        <Logger name="org.springframework.context" level="WARN"/>
        <Logger name="org.springframework.beans" level="WARN"/>
        <Logger name="springfox.bean.validators" level="ERROR"/>
        <Logger name="org.springframework.web" level="WARN"/>
        <Logger name="org.springframework" level="INFO"/>

        <!-- 基础组件 -->
        <Logger name="org.apache" level="INFO"/>
        <Logger name="io.lettuce" level="INFO"/>
        <Logger name="io.netty" level="INFO"/>

        <!-- 网关 AccessLog -->
        <Logger name="reactor.netty.http.server.AccessLog" level="info"/>
        <!-- 第三方的软件日志级别 end -->

        <!--  全局异常输出级别  -->
        <!-- 属性:includeLocation 结合异步logger使用，当其设置为true时，才会显示具体的行号，以及日志所在的类名；-->
        <!-- 属性: additivity 表示是否向上传递打印日志信息（若为true则向上传递，那么root根对象也会进行日志打印）；-->
        <AsyncRoot level="${sys:LOG_ROOT_LEVEL}" includeLocation="true" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="allFile"/>
        </AsyncRoot>
    </Loggers>
</configuration>
